html {
    background-color: rgb(221, 238, 238);
}
p {
    color:blue;
}
h2 {
    color: rgb(187, 179, 73);
}
a {
    color: rgb(133, 136, 133);
}
.block {
    width: 260px;
    background-color: rgb(241, 237, 181);
    border: 2px solid rgb(128, 119, 119);
    padding: 20px 10px 20px 30px;
    /*margin: 30px 20px 10px 50px;*/
}